html, body {
	background: url(../images/beer-bg.jpg);
}

label {
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 30px;
	font-size: 15pt;
	font-family: 'Kameron', serif;
}

.col-lrg-8 {
	background: url(../images/game-bg.png);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	height: auto;
	border: solid thick;
}

#title, #results div, #questions h2, #time {
	font-family: 'Special Elite', cursive;
}

#title {
	font-size: 60pt;
	margin: 20px;
	padding: 20px;
	border-bottom: thick black;
	border-style: double;
}

#start-button {
	font-size: 40pt;
	margin-bottom: 20px;
	width: 300px;
	padding: 10px;
}


#results div {
	margin: 20px;
	font-size: 20pt;
}

#results button {
	margin: 20px;
    font-size: 20pt;
    width: 200px;
    padding: 10px;
}

#time {
	display: block;
    font-size: 30pt;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
}

#questions h2 {
	font-size: 20pt;
    margin-bottom: 20px;
}

#done-button {
	display: inline-block;
    font-size: 15pt;
    padding: 5px;
    width: 80px;
    margin: 20px;
}

#start-button, #results button, #done-button {
	background-color: green;
	border: solid #05ce02;
	color: white;
	font-family: 'Iceland', cursive;
}